{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<p>Username: {{ app.user.username }}</p>
<p>Email: {{ app.user.email }}</p>
<p>
	Twich Login: {{app.user.twitchLogin}}

	{% if app.user.twitchLogin %}
	    <label class="toggleTwitchForm">Edit</label>
	{% else %}
	    <label class="toggleTwitchForm">Add</label>
	{% endif %}
</p>

{{ form_start(twitchForm, {'attr': {'id': 'twitchForm'}}) }}
{{ form_widget(twitchForm) }}
{{ form_end(twitchForm) }}

{% if app.user.twitchLogin %}
	<p>Live now : {{ app.user.streaming?'Yes':'No' }}</p>
{% endif %}

{% endblock %}

{% block stylesheets %}
<style>
	.toggleTwitchForm {
		color: blue;
		cursor: pointer;
	}
	#twitchForm {
		display: none;
	}
</style>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function(){
		$('.toggleTwitchForm').click(function() {
			$('#twitchForm').toggle();
		})
	})
</script>
{% endblock %}
